/*-------- Footer --------*/

.footer {
    background-color: $black;

    &__wrapper {
        padding-top: 80px;
        padding-bottom: 72px;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 68px;
        height: 68px;

        background-color: $beige;
        border: 2px solid $yellow;
        border-radius: 50%;

        transition: background-color 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), border-color 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    &__button-arrow {
        transition: color 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    &__button:hover {
        border-color: $beige;
        background-color: $yellow;
    }

    &__button:hover &__button-arrow {
        color: $beige;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
    }

    &__menu-link {
        font-family: $font-sb;
        font-size: 20px;
        color: $beige;

        transition: color 0.1s cubic-bezier(0.47, 0, 0.745, 0.715);
    }

    &__menu-link:hover {
        color: $yellow;
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-top: 40px;
    }

    &__copyright {
        color: $beige;
        opacity: 0.5;
    }
}

@media (max-width: 989px) {

    .footer {

        &__wrapper {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        &__button {
            width: 52px;
            height: 52px;
        }

        &__button-arrow {
            width: 38%;
        }

        &__menu {
            margin-top: 30px;
        }

        &__bottom {
            margin-top: 30px;
        }

        &__copyright {
            font-size: 16px;
        }
    }
}

@media (max-width: 767px) {

    .footer {

        &__menu-link {
            font-size: 18px;
        }

        &__top {
            flex-wrap: wrap;
        }
    }
}

@media (max-width: 619px) {

    .footer {

        &__menu-link {
            font-size: 16px;
        }
    }
}

@media (max-width: 479px) {

    .footer {

        &__menu {
            flex-wrap: wrap;
            margin-bottom: -10px;
        } 

        &__menu-item {
            display: flex;
            justify-content: center;

            width: 33%;
            margin-bottom: 10px;
        }

        &__copyright {
            font-size: 4vw;
        }
    }
}