/*-------- Footer --------*/

.footer {
    background-color: $black;

    &__wrapper {
        padding-top: 80px;
        padding-bottom: 72px;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 68px;
        height: 68px;

        background-color: $beige;
        border: 2px solid $yellow;
        border-radius: 50%;

        transition: background-color 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), border-color 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    &__button-arrow {
        transition: color 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    &__button:hover {
        border-color: $beige;
        background-color: $yellow;
    }

    &__button:hover &__button-arrow {
        color: $beige;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
    }

    &__menu-link {
        font-family: $font-sb;
        font-size: 20px;
        color: $beige;

        transition: color 0.1s cubic-bezier(0.47, 0, 0.745, 0.715);
    }

    &__menu-link:hover {
        color: $yellow;
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-top: 40px;
    }

    &__copyright {
        color: $beige;
        opacity: 0.5;
    }
}
