/*-------- Footer --------*/

.footer {
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;

    text-align: center;

    &__copyright {
        display: flex;
        align-items: center;
        margin-top: 140px;
        height: 41px;
        background-color: $orange;
    }

    &__copyright-text {
        font-size: 18px;
    }

    &__logo {
        display: block;
        width: 473px;

        margin-left: auto;
        margin-right: auto;

        color: #ffffff;

        transition: color 0.2s ease-out;
    }

    &__logo-icon {
        width: 100%;
    }

    &__logo:hover {
        color: $orange;
    }
}

@media (max-width: 1399px) {

    .footer {

        &__copyright {
            margin-top: 60px;
        }
    }
}

@media (max-width: 989px) {

    .footer {

        &__copyright {
            margin-top: 8px;
        }

        &__logo {
            width: 330px;
        }
    }
}

@media (max-width: 619px) {

    .footer {

        &__wrapper {
            height: 100px;
        }

        &__logo, &__logo-icon {
            height: 100%;
        }

        &__copyright {
            margin-top: 0;
        }

        &__copyright-text {
            font-size: 14px;
        }
        
        &__logo {
            width: 230px;
        }
    }
}

@media (max-width: 479px) {

    .footer {

        &__logo {
            width: 200px;
        }
        
        &__copyright-text {
            font-size: 12px;
        }
    }
}

@media (max-width: 359px) {

    .footer {

        &__link {
            font-size: 3.7vw;
        }
    }
}