/*-------- Header --------*/

.header {
    width: 100%;
    height: 188px;
    
    position: absolute;
    top: 0;
    left: 0;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    &__logo {
        width: 378px;
        height: 100%;
        color: #ffffff;
    }

    &__logo-icon {
        width: 100%;
        height: 100%;
        color: #ffffff;
        transition: color 0.3s ease-out;
    }

    &__logo:hover &__logo-icon {
        color: $orange;
    }

    &__link {
        font-size: 20px;
        color: #ffffff;
    }

    &__link:hover {
        text-decoration: underline;
    }
}

@media (max-width: 1399px) {

    .header {
        height: 146px;

        &__logo {
            width: 281px;
        }
    }
}

@media (max-width: 989px) {

    .header {

        &__logo {
            width: 230px;
        }
    }
}

@media (max-width: 619px) {

    .header {
        height: 75px;

        &__logo {
            width: 180px;
        }
    }
}

@media (max-width: 479px) {

    .header {

        &__logo {
            width: 120px;
        }
    }
}