/*-------- Fonts --------*/
$font-r: "Roboto";
$font-b: "Gotham Bold";
$font-book: "Gotham Book";
$font-av: "Avenir Next Ultra";

/*-------- Colors --------*/
$orange: #ff9500;

@import './reset.scss';
@import './components/components.scss';